//VIDEO
//////////////////////////////////////////////////////////////////////////////
.video__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video__poster {
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 60px solid $white;
        @include opacity(0.6);
        @include translateXY;
        @include transition;
    }
    &:hover {
        cursor: pointer;
        &:after {
            @include opacity(1);
        }
    }
}
